@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  position: relative;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.title {
  background-color: #aa0fc9;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

h1.logo {
  font-size: 30px;
  font-weight: 700;
}

form {
  padding: 2rem;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

.textInput {
  width: 350px;
  padding: 0.5rem;
  margin: 0;
  font-size: 1rem;
  border: 1px solid #aa0fc9;
  font-family: inherit;
}

.textInput:focus {
  border: 1px solid #aa0fc9;
  outline: none;
}

button#search {
  cursor: pointer;
  padding: 0.55rem;
  margin-bottom: 0.07rem;
  outline: none;
  background-color: #aa0fc9;
  color: #fff;
  font: inherit;
  font-size: 1rem;
  border: none;
}

button.more {
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  outline: none;
  background-color: #aa0fc9;
  color: #fff;
  font: inherit;
  font-size: 1rem;
  border: none;
}
.gallery {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0;
  width: 95%;
  margin: auto;
  row-gap: 2rem;
  column-gap: 3rem;
}

.galleryImg {
  position: relative;
}

.galleryImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #3d008d;
  padding: 0.5rem;
  cursor: pointer;
}

p {
  color: #fff;
  font-size: 25px;
  padding: 1rem 0;
}

.details:hover {
  opacity: 1;
  transition: all 0.3s;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 450px) {
  .textInput {
    width: 250px;
  }

  button {
    margin: 0;
  }
}
